# API
DISCORD_BOT_TOKEN="token_de_votre_bot"
OPENWEATHER_API_KEY="clé_api_openweather"

# ENVIRONNEMENT
DEBUG_MODE=INFO # DEBUG, INFO, WARNING, ERROR

# CHANNEL
LOG_CHANNEL_ID=""
IDEA_CHANNEL_ID="id_forum_idee_conseil_eleve"